version: '3.8'

services:
  # 1. Dịch vụ kho lưu trữ (Registry)
  my-registry:
    image: registry:2
    container_name: local-registry
    ports:
      - "5000:5000"
    restart: always
    volumes:
      - ./registry_data:/var/lib/registry # Lưu dữ liệu ra máy thật để không bị mất khi xóa container

  # 2. Dịch vụ App của bạn
  my-app:
    image: ghcr.io/duonghoan35678888/demo-cicd:main
    container_name: my-running-app
    ports:
      - "8080:8080"
    depends_on:
      - my-registry # Đảm bảo registry chạy trước app
    restart: on-failure