name: Java CI/CD Pipeline

on:
  push:
    branches: [ "main" ] # Chạy mỗi khi bạn push code lên branch main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        # Vì file pom.xml của bạn nằm trong thư mục con demo-app
        # Giả sử pom.xml nằm ở thư mục gốc của repository
        run: mvn -B package --file pom.xml

      - name: Upload Build Artifact
        # Sử dụng action chính thức của Github để lưu trữ file
        uses: actions/upload-artifact@v4
        with:
          name: spring-boot-app-jar # Tên của file khi tải về
          path: target/*.jar
          if-no-files-found: error

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
